<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xstudio.xihaiwan.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@drawable/xihaiwan"
        android:label="@string/app_name"
        >
        <activity
            android:label="@string/app_name"
            android:name=".XihaiwanActivity"
             android:theme = "@style/test" >         

        </activity>
                <activity
            android:label="@string/app_name"
            android:name=".navigatorActivity"
             android:theme = "@style/navigator"
>         

        </activity>
                <activity
            android:label="@string/weblist"
            android:name=".contentlistActivity"
            android:theme = "@style/test" 
            >         

        </activity>
                <activity
            android:label="@string/weblist"
            android:name=".WebcontentActivity"
           android:theme = "@style/weblist">         

        </activity>
         <activity
            android:label="@string/app_name"
            android:name=".startActivity"
            >         
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>